<section>
  <h2>Dodaj dane SMS</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3" style="max-width: 400px;">
    <mat-form-field appearance="fill">
      <mat-label>Miesiac</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="date" required>
      <mat-hint>MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp)">
      </mat-datepicker>
      @if (dateControl?.hasError('invalidDate')) {
        <mat-error>Niepoprawny format daty (MM/RRRR)</mat-error>
      }
      @else if (dateControl?.hasError('required')) {
        <mat-error>To pole jest wymagane</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Liczba SMS-ów</mat-label>
      <input matInput type="number" formControlName="smsCount" min="1" step="1"  required [errorStateMatcher]="matcher">
        @if (smsCountControl?.hasError('required')) {
          <mat-error>To pole jest wymagane</mat-error>
        }
        @else if (smsCountControl?.hasError('invalidNumber')) {
          <mat-error>Niepoprawna liczba</mat-error>
        }
    </mat-form-field>

    <button mat-raised-button
            class="mt-4"
            color="primary"
            type="submit"
            [disabled]="!form.valid">
      Dodaj
    </button>

  </form>
</section>

