<h2>Dodaj dane SMS</h2>

<form [formGroup]="form" (ngSubmit)="addData()" class="d-flex flex-column gap-3" style="max-width: 400px;">
  <mat-form-field appearance="fill">
    <mat-label>Miesiac</mat-label>
    <input matInput [matDatepicker]="dp" formControlName="date">
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (monthSelected)="setMonthAndYear($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
    <mat-error *ngIf="form.get('date')?.hasError('invalidDate')">
      Niepoprawny format daty (MM/RRRR)
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Liczba SMS-ów</mat-label>
    <input matInput type="number" formControlName="smsCount" min="1" step="1"  required>
    <mat-error *ngIf="form.get('smsCount')?.hasError('required')">
      To pole jest wymagane
    </mat-error>
    <mat-error *ngIf="form.get('smsCount')?.hasError('min')">
      Wartość musi być większa niż 0
    </mat-error>
    <mat-error *ngIf="form.get('smsCount')?.hasError('pattern')">
      Tylko liczby całkowite (bez przecinków)
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="mt-4" color="primary" type="submit" [disabled]="form.invalid">Dodaj</button>

</form>

